## Day 34 Lecture 2 Assignment

In this assignment, we will learn about gradient boosting. We will use a dataset describing TripAdvisor reviews for Las Vegas hotels loaded below and analyze the model generated for this dataset.

In [12]:
import numpy as np
import pandas as pd

import timeit
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.svm import SVC
from sklearn.metrics import confusion_matrix, classification_report

import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.ensemble import GradientBoostingRegressor,GradientBoostingClassifier

from category_encoders import LeaveOneOutEncoder
from sklearn.pipeline import Pipeline



import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
vegas = pd.read_csv('https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/LasVegasTripAdvisorReviews-Dataset.csv', sep=';')

In [3]:
vegas = vegas.replace({'YES': 1, 'NO': 0})
vegas = vegas[vegas['Member years'] >= 0]
vegas.head()

,User country,Nr. reviews,Nr. hotel reviews,Helpful votes,Score,Period of stay,Traveler type,Pool,Gym,Tennis court,Spa,Casino,Free internet,Hotel name,Hotel stars,Nr. rooms,User continent,Member years,Review month,Review weekday
0,USA,11,4,13,5,Dec-Feb,Friends,0,1,0,0,1,1,Circus Circus Hotel & Casino Las Vegas,3,3773,North America,9,January,Thursday
1,USA,119,21,75,3,Dec-Feb,Business,0,1,0,0,1,1,Circus Circus Hotel & Casino Las Vegas,3,3773,North America,3,January,Friday
2,USA,36,9,25,5,Mar-May,Families,0,1,0,0,1,1,Circus Circus Hotel & Casino Las Vegas,3,3773,North America,2,February,Saturday
3,UK,14,7,14,4,Mar-May,Friends,0,1,0,0,1,1,Circus Circus Hotel & Casino Las Vegas,3,3773,Europe,6,February,Friday
4,Canada,5,5,2,4,Mar-May,Solo,0,1,0,0,1,1,Circus Circus Hotel & Casino Las Vegas,3,3773,North America,7,March,Tuesday

Check for missing data and remove all rows with missing data

In [4]:
# answer below: 
vegas.isna().mean()

User country         0.0
Nr. reviews          0.0
Nr. hotel reviews    0.0
Helpful votes        0.0
Score                0.0
Period of stay       0.0
Traveler type        0.0
Pool                 0.0
Gym                  0.0
Tennis court         0.0
Spa                  0.0
Casino               0.0
Free internet        0.0
Hotel name           0.0
Hotel stars          0.0
Nr. rooms            0.0
User continent       0.0
Member years         0.0
Review month         0.0
Review weekday       0.0
dtype: float64

In [5]:
vegas['Hotel name'].value_counts().unique()

array([24, 23], dtype=int64)

How many reviews do we have for each hotel in the dataset?

In [6]:
vegas.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 503 entries, 0 to 503
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   User country       503 non-null    object
 1   Nr. reviews        503 non-null    int64
 2   Nr. hotel reviews  503 non-null    int64
 3   Helpful votes      503 non-null    int64
 4   Score              503 non-null    int64
 5   Period of stay     503 non-null    object
 6   Traveler type      503 non-null    object
 7   Pool               503 non-null    int64
 8   Gym                503 non-null    int64
 9   Tennis court       503 non-null    int64
 10  Spa                503 non-null    int64
 11  Casino             503 non-null    int64
 12  Free internet      503 non-null    int64
 13  Hotel name         503 non-null    object
 14  Hotel stars        503 non-null    object
 15  Nr. rooms          503 non-null    int64
 16  User continent     503 non-null    object
 17  Member years       503 non-null    int64
 18  Review month       503 non-null    object
 19  Review weekday     503 non-null    object
dtypes: int64(12), object(8)
memory usage: 82.5+ KB

We would like to predict the score variable. Examine the dataset and decide which columns should be turned into dummy variables and transform the data. Also, where we have two columns with redundant information, remove one of the two columns. Remove the hotel stars column.

In [7]:
# answer below:
vegas.corr()['Score'].sort_values(ascending=False).abs()

Score                1.000000
Pool                 0.203024
Free internet        0.184492
Member years         0.072942
Tennis court         0.063061
Spa                  0.048904
Helpful votes        0.016049
Nr. hotel reviews    0.014239
Gym                  0.008437
Casino               0.014648
Nr. reviews          0.023622
Nr. rooms            0.081212
Name: Score, dtype: float64

In [8]:
drop_cols = ['User country', 'Period of stay', 'Hotel stars']

bin_cols = ['Pool', 'Gym', 'Tennis court', 'Spa', 'Casino', 'Free internet']

cat_cols = ['User continent', 'Review month', 'Review weekday', 'Traveler type', 'Hotel name']
drop_cat = ['North America', 'January', 'Sunday', 'Solo', 'The Cromwell']

num_cols = ['Nr. reviews', 'Nr. hotel reviews', 'Helpful votes', 'Nr. rooms', 'Member years']

Split the data into train and test (20% in test)

In [16]:
# answer below:
X = vegas.drop(columns=drop_cols)
X = X.drop(columns=['Score'])
y = vegas['Score']

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42, stratify=y
)

In [19]:
start_time = timeit.default_timer()

preprocessing = ColumnTransformer([
    # ('encode_cats', OneHotEncoder(drop=drop_cat), cat_cols),
    ('encode_cats', LeaveOneOutEncoder(), cat_cols),
    ('scale_nums', StandardScaler(), num_cols),
], remainder='passthrough')

In [20]:
pipeline = Pipeline([
    ('preprocessing', preprocessing),
    # ('gbt', GradientBoostingRegressor()),
    ('gbt', GradientBoostingClassifier()),
])

In [21]:
n_trees = 1000
learning_rate = 2 / n_trees

grid = {
    "gbt__subsample": [0.75, 1.0],
    "gbt__max_features": [0.75, 1.0],
    "gbt__max_depth": [2, 3],
    "gbt__n_estimators": [n_trees],
    "gbt__learning_rate": [learning_rate, 0.001, 0.2]
}

pipeline_cv = GridSearchCV(pipeline, grid, verbose=1, cv=2)
pipeline_cv.fit(X_train, y_train)

print(pipeline_cv.best_params_)


elapsed = timeit.default_timer() - start_time
print(elapsed)

Fitting 2 folds for each of 24 candidates, totalling 48 fits

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done  48 out of  48 | elapsed:  2.0min finished

{'gbt__learning_rate': 0.2, 'gbt__max_depth': 2, 'gbt__max_features': 0.75, 'gbt__n_estimators': 1000, 'gbt__subsample': 1.0}
125.10827110000002

In [22]:
train_score = pipeline_cv.score(X_train, y_train)
test_score = pipeline_cv.score(X_test, y_test)

print(f"train_score {train_score}")
print(f"test_score {test_score}")

train_score 0.31343283582089554
test_score 0.3069306930693069

Create a graident boosted regression model for predicting the score. To produce the accuracy score for the test data, first round the prediction and then compare to the observed.

Try again with a learning rate of 0.8 and 0.3 and compare the results.

In [23]:


preprocessing = ColumnTransformer([
    # ('encode_cats', OneHotEncoder(drop=drop_cat), cat_cols),
    ('encode_cats', LeaveOneOutEncoder(), cat_cols),
    ('scale_nums', StandardScaler(), num_cols),
], remainder='passthrough')

In [24]:
pipeline = Pipeline([
    ('preprocessing', preprocessing),
    # ('gbt', GradientBoostingRegressor()),
    ('gbt', GradientBoostingClassifier()),
])

In [25]:
n_trees = 1000
learning_rate = 2 / n_trees

grid = {
    "gbt__subsample": [0.75, 1.0],
    "gbt__max_features": [0.75, 1.0],
    "gbt__max_depth": [2, 3],
    "gbt__n_estimators": [n_trees],
    "gbt__learning_rate": [learning_rate, 0.8, 0.3]
}

pipeline_cv = GridSearchCV(pipeline, grid, verbose=1, cv=2)
pipeline_cv.fit(X_train, y_train)

print(pipeline_cv.best_params_)


elapsed = timeit.default_timer() - start_time
print(elapsed)

Fitting 2 folds for each of 24 candidates, totalling 48 fits

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done  48 out of  48 | elapsed:  1.7min finished

{'gbt__learning_rate': 0.8, 'gbt__max_depth': 2, 'gbt__max_features': 0.75, 'gbt__n_estimators': 1000, 'gbt__subsample': 1.0}
310.418636

In [26]:
train_score = pipeline_cv.score(X_train, y_train)
test_score = pipeline_cv.score(X_test, y_test)

print(f"train_score {train_score}")
print(f"test_score {test_score}")

train_score 0.30845771144278605
test_score 0.25742574257425743

In [27]:
n_trees = 1000
learning_rate = 2 / n_trees

grid = {
    "gbt__subsample": [0.75, 1.0],
    "gbt__max_features": [0.75, 1.0],
    "gbt__max_depth": [2, 3],
    "gbt__n_estimators": [n_trees],
    "gbt__learning_rate": [learning_rate, 0.3]
}

pipeline_cv = GridSearchCV(pipeline, grid, verbose=1, cv=2)
pipeline_cv.fit(X_train, y_train)

print(pipeline_cv.best_params_)


elapsed = timeit.default_timer() - start_time
print(elapsed)

Fitting 2 folds for each of 16 candidates, totalling 32 fits

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done  32 out of  32 | elapsed:  1.2min finished

{'gbt__learning_rate': 0.002, 'gbt__max_depth': 3, 'gbt__max_features': 0.75, 'gbt__n_estimators': 1000, 'gbt__subsample': 1.0}
507.9963252

In [28]:
train_score = pipeline_cv.score(X_train, y_train)
test_score = pipeline_cv.score(X_test, y_test)

print(f"train_score {train_score}")
print(f"test_score {test_score}")

train_score 0.31094527363184077
test_score 0.2871287128712871